--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
torchcrepe==0.0.24
librosa==0.10.2.post1
numpy==1.26.4
soundfile==0.12.1
pretty_midi==0.2.10
basic-pitch==0.4.0
pygame
matplotlib
scipy==1.11.4